{# src/IB/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "IBPlatformBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block ibplatform_body %}

  <h2>Liste des annonces</h2>

  <ul>
    {% for advert in listAdverts %}
      <li>
        <a href="{{ path('ib_platform_view', {'id': advert.id}) }}">
          {{ advert.title }}
        </a>
        par {{ advert.author }},
        le {{ advert.date|date('d/m/Y') }}
      </li>
    {% else %}
      <li>Pas (encore !) d'annonces</li>
    {% endfor %}
  </ul>
  
    <ul class="pagination">

    {% if page > 1 %}
      <li>
      <a href="{{ path('ib_platform_home',{'page': page-1,'nbperpage': nbPerPage }) }}" >
          << Précédente
      </a>
      </li>
    {% endif %}

    
      {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
      {% for p in range(1, (listAdverts.count/nbPerPage)) %}
        <li{% if p == page %} class="active"{% endif %}>
          <a href="{{ path('ib_platform_home', {'page': p,'nbperpage': nbPerPage }) }}">{{ p }}</a>
        </li>
      {% endfor %}
   


    {% if page < (listAdverts.count/nbPerPage) %}
      <li>
      <a href="{{ path('ib_platform_home',{'page': page+1,'nbperpage': nbPerPage }) }}" >
        Suivante >>
      </a>
      </li>
    {% endif %}

     </ul>
  
{% endblock %}