{# src/OC/PlatformBundle/Resources/view/Advert/lastApplicationAndAdvert.html.twig #}

{% extends "IBPlatformBundle::layout.html.twig" %}

{% block title %}
  Liste des dernières annonces et leur annonce par catégorie - {{ parent() }}
{% endblock %}

{% block ibplatform_body %}

  <h3> Les {{ limit }} dernières candidatures</h3>
  
  <div class="well">
    {% for application in listapplicationsadvert %}
      <p>
      <b>Candidature de {{ application.author }}</b>, postée le {{ application.date|date('d/m/Y') }}
      <br><i>{{ application.content }}</i><br>
      <u>Pour l'annonce</u> {{ application.advert.title }}
      </p>
    {% endfor %}

  </div>

{% endblock %}